@using CriticWeb.DataLayer
@using CriticWeb.Models.Data

<h6>Cached at @DateTime.Now.ToString("T")</h6>
<h4 class="text-center">TOП критиків</h4>
@Html.Partial("_TopEntertainmentPartialView", new EntertainmentVM(Entertainment.GetOneTopEntertainmentByTypeAndReviewCount(Entertainment.Type.Movie, 2)))
@Html.Partial("_TopEntertainmentPartialView", new EntertainmentVM(Entertainment.GetOneTopEntertainmentByTypeAndReviewCount(Entertainment.Type.Game, 2)))
@Html.Partial("_TopEntertainmentPartialView", new EntertainmentVM(Entertainment.GetOneTopEntertainmentByTypeAndReviewCount(Entertainment.Type.TVSeries, 2)))
@Html.Partial("_TopEntertainmentPartialView", new EntertainmentVM(Entertainment.GetOneTopEntertainmentByTypeAndReviewCount(Entertainment.Type.Album, 2)))
