<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/tooltipstercss")
    @Styles.Render("~/Content/star-rating")
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--http://x-lines.ru/letters/i/cyrillictechno/0020/ffffff/20/0/jiozoo51pf4g1aa.png-->
                <a href='@Url.Action("Index", "Home")'><img style="margin:10px 0px" src="http://x-lines.ru/letters/i/cyrillictechno/0647/ffffff/20/0/jiozoo51pf4g1aa.png" border="0" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Фільми
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">TOP</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Ігри
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">TOP</a></li>
                        <li><a href="#">Page 2-2</a></li>
                        <li><a href="#">Page 2-3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Серіали
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">TOP</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Музика
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">TOP</a></li>
                        <li><a href="#">Page 3-2</a></li>
                        <li><a href="#">Page 3-3</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Пошук">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span> Знайти
                </button>
            </form>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">

            <div class="col-md-1"></div>

            <div class="col-md-8">
                @RenderBody()
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-2 sidenav">
                <div class="well">
                    <p>Новина1</p>
                </div>
                <div class="well">
                    <p>Новина2</p>
                </div>
                <div class="well">
                    <p>Новина3</p>
                </div>
                <div class="well">
                    <p>...</p>
                </div>
            </div>

        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>© 2016 Maxim Gritsayuk. All rights reserved.</p>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tooltipsterjs")
    @Scripts.Render("~/bundles/star-ratingjs")
    @Scripts.Render("~/bundles/myScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
