@using CriticWeb.DataLayer
@model CriticWeb.DataLayer.Review

<div class="thumbnail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1">
                @if (Model.Point <= 35)
                {
                    <h3 class="point-entertainment-red">@Model.Point</h3>
                }
                @if (Model.Point > 35 && Model.Point < 70)
                {
                    <h3 class="point-entertainment-yellow">@Model.Point</h3>
                }
                @if (Model.Point >= 70)
                {
                    <h3 class="point-entertainment-green">@Model.Point</h3>
                }
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                @if (Model.Publication == null || Model.Publication == String.Empty)
                {
                    <a href='#'><h5><b>@UserCritic.GetById(Model.UserId).Username</b></h5></a>
                }
                else
                {
                    <a href='#'><h5><b>@Model.Publication</b></h5></a>
                }
                <h6>@Model.Time.ToLocalTime().DateTime</h6>
            </div>
            <div class="col-md-1">
                @if (Model.Link != null && Model.Link != String.Empty)
                {
                    <a href='@Model.Link' target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p>@Model.Opinion</p>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="container-fluid">
            <div class="row">
                <div id="@Model.Id-1">
                    <div class="col-md-3">
                        <p><font size="2"><b>Корисний?</b></font></p>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-xs" onclick="yes_Button_Click('@Model.Id', @Model.Helpful, @Model.Unhelpful)">Так</button>
                            <button type="button" class="btn btn-danger btn-xs" onclick="no_Button_Click('@Model.Id', @Model.Helpful, @Model.Unhelpful)">Ні</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p><font size="2"><b><span class="bg-success">Так: @Model.Helpful</span> <span class="bg-danger">Ні: @Model.Unhelpful</span></b></font></p>
                    </div>
                </div>
                <div id="@Model.Id-2" style="display: none">
                    <div class="col-md-3">
                        <p><font size="2"><b>Корисний?</b></font></p>
                    </div>
                    <div class="col-md-9">
                        <p><font size="2"><b><span class="bg-success">Так: <span class="helpful"></span></span> <span class="bg-danger">Ні: <span class="unhelpful"></span></span></b></font></p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <p><font size="2"><b>Корисний?</b></font></p>
                </div>
                <div class="col-md-1">                    
                    <a href="@Url.Action("Login", "Account")" class="tooltip-with-text" title="Оцінювати корисність відгуків можуть лише зареєстровані користувачі"><div class="glyphicon glyphicon-exclamation-sign"></div></a>
                </div>
                <div class="col-md-8">
                    <p><font size="2"><b><span class="bg-success">Так: @Model.Helpful<span class="helpful"></span></span> <span class="bg-danger">Ні: @Model.Unhelpful<span class="unhelpful"></span></span></b></font></p>
                </div>
            </div>
        </div>
    }
</div>
