@using CriticWeb.Models.ContentCriticViewModels
@model AllEntertainmentsAndPerformersViewModel

<div class="panel panel-default">
    <div class="panel-heading"><h4>Пошук на сайті</h4></div>
    <div class="panel-body">
        @Html.Partial("_PerformerOrEntertainmentArrayPartialView", new PerformerOrEntertainmentArrayViewModel(null, Model.Movies, Model.MoviePaginationId, "Фільми"))
        @Html.Partial("_PerformerOrEntertainmentArrayPartialView", new PerformerOrEntertainmentArrayViewModel(null, Model.Games, Model.GamePaginationId, "Ігри"))
        @Html.Partial("_PerformerOrEntertainmentArrayPartialView", new PerformerOrEntertainmentArrayViewModel(null, Model.TVSeries, Model.TVSeriesPaginationId, "Серіали"))
        @Html.Partial("_PerformerOrEntertainmentArrayPartialView", new PerformerOrEntertainmentArrayViewModel(null, Model.Albums, Model.AlbumPaginationId, "Альбоми"))
        @Html.Partial("_PerformerOrEntertainmentArrayPartialView", new PerformerOrEntertainmentArrayViewModel(Model.Performers, null, Model.PerformerPaginationId, "Виконавці"))
    </div>
</div>
