@using CriticWeb.Models.ContentCriticViewModels
@model CriticWeb.Models.ContentCriticViewModels.AllEntertainmentsAndPerformersViewModel

<div class="panel panel-default">
    <div class="panel-heading"><h4>Пошук на сайті</h4></div>
    <div class="panel-body">
        @if (Model.Movies != null && Model.Movies.Length != 0)
        {
            <h3><p class="bg-primary text-center">Фільми</p></h3>            
            int pagesCount = 0;
            for (int i = 0; i < Model.Movies.Length; i++)
            {
                if (i == 0 || (i-9) % 10 == 0)
                {
                    pagesCount++;
                    @:<div id="page-@Model.MoviePaginationId-@pagesCount">
                }
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Movies[i]))</div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Movies.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Movies[i]))
                            }
                        </div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Movies.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Movies[i]))
                            }
                        </div>
                    </div>
                </div>
        
                if (i == 8 || (i-7) % 10 == 0 || i >=  Model.Movies.Length-1)
                {
                    @:</div>
                }
            }
                                
            <div class="text-center">
                <p class="@Model.MoviePaginationId"></p>
            </div>
        }
        @if (Model.Games != null && Model.Games.Length != 0)
        {
            <h3><p class="bg-primary text-center">Ігри</p></h3>            
            int pagesCount = 0;
            for (int i = 0; i < Model.Games.Length; i++)
            {
                if (i == 0 || (i-9) % 10 == 0)
                {
                    pagesCount++;
                    @:<div id="page-@Model.GamePaginationId-@pagesCount">
                }
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Games[i]))</div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Games.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Games[i]))
                            }
                        </div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Games.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Games[i]))
                            }
                        </div>
                    </div>
                </div>
        
                if (i == 8 || (i-7) % 10 == 0 || i >=  Model.Games.Length-1)
                {
                    @:</div>
                }
            }
                                
            <div class="text-center">
                <p class="@Model.GamePaginationId"></p>
            </div>
        }
        @if (Model.TVSeries != null && Model.TVSeries.Length != 0)
        {
            <h3><p class="bg-primary text-center">Серіали</p></h3>            
            int pagesCount = 0;
            for (int i = 0; i < Model.TVSeries.Length; i++)
            {
                if (i == 0 || (i-9) % 10 == 0)
                {
                    pagesCount++;
                    @:<div id="page-@Model.TVSeriesPaginationId-@pagesCount">
                }
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.TVSeries[i]))</div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.TVSeries.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.TVSeries[i]))
                            }
                        </div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.TVSeries.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.TVSeries[i]))
                            }
                        </div>
                    </div>
                </div>
        
                if (i == 8 || (i-7) % 10 == 0 || i >=  Model.TVSeries.Length-1)
                {
                    @:</div>
                }
            }
                                
            <div class="text-center">
                <p class="@Model.TVSeriesPaginationId"></p>
            </div>
        }
        @if (Model.Albums != null && Model.Albums.Length != 0)
        {
            <h3><p class="bg-primary text-center">Альбоми</p></h3>            
            int pagesCount = 0;
            for (int i = 0; i < Model.Albums.Length; i++)
            {
                if (i == 0 || (i-9) % 10 == 0)
                {
                    pagesCount++;
                    @:<div id="page-@Model.AlbumPaginationId-@pagesCount">
                }
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Albums[i]))</div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Albums.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Albums[i]))
                            }
                        </div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Albums.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(Model.Albums[i]))
                            }
                        </div>
                    </div>
                </div>
        
                if (i == 8 || (i-7) % 10 == 0 || i >=  Model.Albums.Length-1)
                {
                    @:</div>
                }
            }
                                
            <div class="text-center">
                <p class="@Model.AlbumPaginationId"></p>
            </div>
        }
        @if (Model.Performers != null && Model.Performers.Length != 0)
        {
            <h3><p class="bg-primary text-center">Виконавці</p></h3>            
            int pagesCount = 0;
            for (int i = 0; i < Model.Performers.Length; i++)
            {
                if (i == 0 || (i-9) % 10 == 0)
                {
                    pagesCount++;
                    @:<div id="page-@Model.PerformerPaginationId-@pagesCount">
                }
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.Performers[i]))</div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Performers.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.Performers[i]))
                            }
                        </div>
                        @{ i++; }
                        <div class="col-md-4">
                            @if (i < Model.Performers.Length)
                            {
                                @Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.Performers[i]))
                            }
                        </div>
                    </div>
                </div>
        
                if (i == 8 || (i-7) % 10 == 0 || i >=  Model.Performers.Length-1)
                {
                    @:</div>
                }
            }
            
            <div class="text-center">
                <p class="@Model.PerformerPaginationId"></p>
            </div>
        }
    </div>
</div>
