@using CriticWeb.Models.ContentCriticViewModels
@using CriticWeb.Models.Data
@using CriticWeb.DataLayer
@model EntertainmentDetailsViewModel

@{
    ViewBag.Title = Model.EntertainmentDetails;
}

@section scripts {
    <script>      
        setPoint('@Model.EntertainmentDetails.EntertainmentDL.Id');
    </script>
}

<div class="panel panel-default">
    <div class="panel-heading text-left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h4>@Model.EntertainmentDetails</h4>
                </div>
                <div class="col-md-4">
                    <span class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#summary">Загальне</a></li>
                            <li><a data-toggle="pill" href="#details">Деталі</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">

            <div id="summary" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.EntertainmentDetails.Poster))" />
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-8"><h4>Середня оцінка критиків:</h4></div>
                                                <div class="col-md-4">
                                                    @if (Model.AvarageCriticPoint != null)
                                                    {
                                                        if (Model.AvarageCriticPoint <= 35)
                                                        {
                                                            <h2 class="point-entertainment-red">@Model.AvarageCriticPoint</h2>
                                                        }
                                                        if (Model.AvarageCriticPoint > 35 && Model.AvarageCriticPoint < 70)
                                                        {
                                                            <h2 class="point-entertainment-yellow">@Model.AvarageCriticPoint</h2>
                                                        }
                                                        if (Model.AvarageCriticPoint >= 70)
                                                        {
                                                            <h2 class="point-entertainment-green">@Model.AvarageCriticPoint</h2>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <h2>N/A</h2>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-8"><h4>Середня оцінка користувачів:</h4></div>
                                                <div class="col-md-4">
                                                    @if (Model.AvarageUserPoint != null)
                                                    {
                                                        if (Model.AvarageUserPoint <= 35)
                                                        {
                                                            <h2 class="point-entertainment-red">@Model.AvarageUserPoint</h2>
                                                        }
                                                        if (Model.AvarageUserPoint > 35 && Model.AvarageUserPoint < 70)
                                                        {
                                                            <h2 class="point-entertainment-yellow">@Model.AvarageUserPoint</h2>
                                                        }
                                                        if (Model.AvarageUserPoint >= 70)
                                                        {
                                                            <h2 class="point-entertainment-green">@Model.AvarageUserPoint</h2>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <h2>N/A</h2>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    @if (Request.IsAuthenticated)
                                    {
                                        int? rating = Model.GetCurrentUserRating(User.Identity.Name) / 10;
                                        if (rating == null)
                                        {
                                            <input id="stars" />
                                            <form role="form">
                                                <div id="review" class="text-left">
                                                    <div class="form-group">
                                                        <label for="opinion">Відгук:</label>
                                                        <textarea id="opinion" rows="10" class="form-control" style="resize:none"></textarea>
                                                    </div>
                                                    @if (ProfileCritic.Instance.CurrentUserCritic.UserRole == UserCritic.Role.Critic)
                                                    {
                                                        <div class="form-group">
                                                            <label for="link">Посилання на сайт з Вашим розгорнутим відгуком:</label>
                                                            <input id="link" class="form-control" />
                                                        </div>
                                                    }                                                    
                                                    <div class="text-right"><button type="button" class="btn btn-default" onclick="ok_Click('@Model.EntertainmentDetails.EntertainmentDL.Id')">ОК</button></div>
                                                </div>
                                            </form>
                                        }
                                        else
                                        {
                                            <div class="tooltip-with-text" title="Ви вже виставили оцінку цьому контенту"><input id="stars" value="@rating" data-readonly="true" /></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-10">
                                                <input id="stars" data-readonly="true" />
                                            </div>
                                            <div class="col-md-2">
                                                <a href="@Url.Action("Login", "Account")" class="tooltip-with-text" title="Лише зареєстровані користувачі можуть виставляти оцінки."><span style="font-size:2.5em;" class="glyphicon glyphicon-exclamation-sign"></span></a>
                                            </div>
                                        </div>                                        
                                    }
                                </div>
                            </div>
                            <p><b>Короткий опис:</b> @Model.EntertainmentDetails.Summary</p>
                            @if (Model.Awards != null)
                            {
                                <p>
                                    <b>Нагороди:</b>
                                    @foreach (var award in Model.Awards)
                                    {
                                        <span class="img-with-tooltip">
                                            @if (award.Image != null)
                                            {
                                                <img class="round-award" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(award.Image))" />
                                            }
                                            else
                                            {
                                                <img class="round-award" src="http://s018.radikal.ru/i510/1304/68/75348d62601b.png" />
                                            }
                                            <span class="tooltipHTML">
                                                <span class="row text-center">
                                                    <span class="col-md-4">
                                                        <img class="tooltip-img" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(award.Image))" />
                                                    </span>
                                                    <span class="col-md-8">
                                                        <b>@award.Name</b><br />
                                                        <b>@award.Date.ToShortDateString()</b><br />
                                                        <b>@award.Nomination</b><br />
                                                        @if (award.PerformerId != null)
                                                        {
                                                            <b>Виконавець: </b>@(new PerformerVM(Performer.GetById((Guid)award.PerformerId)))<br />
                                                        }
                                                        @if (award.EntertainmentId != null)
                                                        {
                                                            <b>Контент: </b>@(new EntertainmentVM(Entertainment.GetById((Guid)award.EntertainmentId)))
                                                        }                                                               
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    }
                                </p>
                            }
                            @if (Model.EntertainmentDetails.BuyLink != null && Model.EntertainmentDetails.BuyLink != String.Empty)
                            {
                                <a href='@Model.EntertainmentDetails.BuyLink' target="_blank"><img src="http://www.niftybuttons.com/amazon/amazon-button2.png" alt="Amazon Button"></a>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div id="details" class="tab-pane">
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4 text-center">
                            <img class="poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.EntertainmentDetails.Poster))" />
                        </div>
                        <div class="col-md-8 text-cente">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td><b>Контент:</b></td>
                                        <td>@Model.EntertainmentDetails.EntertainmentTypeUkr</td>
                                    </tr>
                                    @if (Model.SingersAndBands != null && Model.SingersAndBands != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Виконавці:</b></td>
                                            <td>@Model.SingersAndBands</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Назва:</b></td>
                                        <td>@Model.EntertainmentDetails.Name</td>
                                    </tr>
                                    @if (Model.EntertainmentDetails.TVSeason != null)
                                    {
                                        <tr>
                                            <td><b>Сезон:</b></td>
                                            <td>@Model.EntertainmentDetails.TVSeason</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Дата релізу:</b></td>
                                        <td>@Model.EntertainmentDetails.ReleaseDate.ToShortDateString()</td>
                                    </tr>
                                    @if (Model.Genres != null && Model.Genres != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Жанри:</b></td>
                                            <td>@Model.Genres</td>
                                        </tr>
                                    }
                                    @if (Model.MovieProductions != null && Model.MovieProductions != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Продюсерські компанії:</b></td>
                                            <td>@Model.MovieProductions</td>
                                        </tr>
                                    }
                                    @if (Model.GameDeveloperCompanys != null && Model.GameDeveloperCompanys != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Розробники:</b></td>
                                            <td>@Model.GameDeveloperCompanys</td>
                                        </tr>
                                    }
                                    @if (Model.GamePlatforms != null && Model.GamePlatforms != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Платформи:</b></td>
                                            <td>@Model.GamePlatforms</td>
                                        </tr>
                                    }
                                    @if (Model.TVNetwork != null && Model.TVNetwork != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Телевізійні канали:</b></td>
                                            <td>@Model.TVNetwork</td>
                                        </tr>
                                    }
                                    @if (Model.AlbumRecordLabel != null && Model.AlbumRecordLabel != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Лейбли:</b></td>
                                            <td>@Model.AlbumRecordLabel</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Правовласник:</b></td>
                                        <td>@Model.EntertainmentDetails.Company</td>
                                    </tr>
                                    <tr>
                                        <td><b>Основна мова:</b></td>
                                        <td>@Model.EntertainmentDetails.MainLanguage</td>
                                    </tr>
                                    @if (Model.EntertainmentDetails.Rating != null && Model.EntertainmentDetails.Rating != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Вікове обмеження:</b></td>
                                            <td>@Model.EntertainmentDetails.Rating</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.RatingComment != null && Model.EntertainmentDetails.RatingComment != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Коментар до вікового обмеження:</b></td>
                                            <td>@Model.EntertainmentDetails.RatingComment</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.MovieRuntimeMinute != null)
                                    {
                                        <tr>
                                            <td><b>Тривалість (хв):</b></td>
                                            <td>@Model.EntertainmentDetails.MovieRuntimeMinute</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.OfficialSite != null && Model.EntertainmentDetails.OfficialSite != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Офіційний сайт:</b></td>
                                            <td><a href='@Model.EntertainmentDetails.OfficialSite' target="_blank">@Model.EntertainmentDetails.OfficialSite</a></td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.MovieCountries != null && Model.EntertainmentDetails.MovieCountries != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Країни:</b></td>
                                            <td>@Model.EntertainmentDetails.MovieCountries</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.Budget != null)
                                    {
                                        int budget = (int)Model.EntertainmentDetails.Budget;
                                        <tr>
                                            <td><b>Бюджет ($):</b></td>
                                            <td>@budget</td>
                                        </tr>
                                    }                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>              
            </div>

        </div>
    </div>
</div>

@if (Model.TrailerLinkForFrame != null && Model.TrailerLinkForFrame != String.Empty)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Трейлер</h4></div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <iframe width="670" height="400" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                                src="@Model.TrailerLinkForFrame"></iframe>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Songs != null)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Пісні</h4></div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Тривалість</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model.Songs)
                    {
                        <tr>
                            <td>@song.Name</td>
                            <td>@song.Duration</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.MovieDirectors != null || Model.MoviePlotWriters != null || Model.MoviePrincipalCasts != null || Model.MovieCast != null || Model.MovieProducers != null || Model.GameCasts != null || Model.TVCasts != null || Model.AlbumSingers != null || Model.AlbumBands != null)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Виконавці</h4></div>
        <div class="panel-body">
            @if (Model.MovieDirectors != null)
            {
                <h3><p class="bg-primary text-center">Режисери</p></h3>
                for (int i = 0; i < Model.MovieDirectors.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieDirectors[i]))</div>
                            @{ i++; }
                            @if (i < Model.MovieDirectors.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieDirectors[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.MovieDirectors.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieDirectors[i]))</div>
                            }
                        </div>
                    </div>
                }
            }            
            @if (Model.MoviePlotWriters != null)
            {
                <h3><p class="bg-primary text-center">Автори сценарію</p></h3>
                for (int i = 0; i < Model.MoviePlotWriters.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MoviePlotWriters[i]))</div>
                            @{ i++; }
                            @if (i < Model.MoviePlotWriters.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MoviePlotWriters[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.MoviePlotWriters.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MoviePlotWriters[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }            
            @if (Model.MoviePrincipalCasts != null)
            {
                <h3><p class="bg-primary text-center">Головні герої</p></h3>
                for (int i = 0; i < Model.MoviePrincipalCasts.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MoviePrincipalCasts[i]))</div>
                            @{ i++; }
                            @if (i < Model.MoviePrincipalCasts.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MoviePrincipalCasts[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.MoviePrincipalCasts.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MoviePrincipalCasts[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }            
            @if (Model.MovieCast != null)
            {
                <h3><p class="bg-primary text-center">Актори</p></h3>
                for (int i = 0; i < Model.MovieCast.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieCast[i]))</div>
                            @{ i++; }
                            @if (i < Model.MovieCast.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieCast[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.MovieCast.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieCast[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }
            @if (Model.MovieProducers != null)
            {
                <h3><p class="bg-primary text-center">Продюсери</p></h3>
                for (int i = 0; i < Model.MovieProducers.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieProducers[i]))</div>
                            @{ i++; }
                            @if (i < Model.MovieProducers.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieProducers[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.MovieProducers.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.MovieProducers[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }
            @if (Model.GameCasts != null)
            {
                <h3><p class="bg-primary text-center">Актори</p></h3>
                for (int i = 0; i < Model.GameCasts.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.GameCasts[i]))</div>
                            @{ i++; }
                            @if (i < Model.GameCasts.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.GameCasts[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.GameCasts.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.GameCasts[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }
            @if (Model.TVCasts != null)
            {
                <h3><p class="bg-primary text-center">Актори</p></h3>
                for (int i = 0; i < Model.TVCasts.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.TVCasts[i]))</div>
                            @{ i++; }
                            @if (i < Model.TVCasts.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.TVCasts[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.TVCasts.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.TVCasts[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }
            @if (Model.AlbumSingers != null)
            {
                <h3><p class="bg-primary text-center">Співаки</p></h3>
                for (int i = 0; i < Model.AlbumSingers.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.AlbumSingers[i]))</div>
                            @{ i++; }
                            @if (i < Model.AlbumSingers.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.AlbumSingers[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.AlbumSingers.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.AlbumSingers[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }
            @if (Model.AlbumBands != null)
            {
                <h3><p class="bg-primary text-center">Музичні групи</p></h3>
                for (int i = 0; i < Model.AlbumBands.Length; i++)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.AlbumBands[i]))</div>
                            @{ i++; }
                            @if (i < Model.AlbumBands.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.AlbumBands[i]))</div>
                            }
                            @{ i++; }
                            @if (i < Model.AlbumBands.Length)
                            {
                                <div class="col-md-4">@Html.Partial("_PerformerAndEntertainmentPartialView", new PerformerAndEntertainmentViewModel(null, Model.AlbumBands[i]))</div>
                            }                            
                        </div>
                    </div>
                }
            }            
        </div>
    </div>
}

@if (Model.Reviews != null)
{
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Останні відгуки критиків</h4></div>
                <div class="panel-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Позитивних:</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="point-actor-green"><b>@Model.PositiveCriticReviewCount</b></h4>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Нейтральних:</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="point-actor-yellow"><b>@Model.NeutralCriticReviewCount</b></h4>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Негативних:</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="point-actor-red"><b>@Model.NegativeCriticReviewCount</b></h4>
                            </div>
                        </div>
                    </div>

                    <hr />

                    @if (Model.CriticReviews.Length != 0)
                    {
                        foreach (var review in Model.CriticReviews)
                        {
                                @Html.Partial("_ReviewPartialView", review);
                        }
                            <a href="@Url.Action("EntertainmentReviews", "Home", new { id = Model.EntertainmentDetails.EntertainmentDL.Id, isCritic = true })"><h5>Побачити всі відгуки критиків >></h5></a>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Останні відгуки користувачів</h4></div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Позитивних:</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="point-actor-green"><b>@Model.PositiveUserReviewCount</b></h4>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Нейтральних:</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="point-actor-yellow"><b>@Model.NeutralUserReviewCount</b></h4>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Негативних:</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="point-actor-red"><b>@Model.NegativeUserReviewCount</b></h4>
                            </div>
                        </div>
                    </div>

                    <hr />

                    @if (Model.UserReviews.Length != 0)
                    {
                        foreach (var review in Model.UserReviews)
                        {
                                @Html.Partial("_ReviewPartialView", review);
                        }
                        <a href="@Url.Action("EntertainmentReviews", "Home", new { id = Model.EntertainmentDetails.EntertainmentDL.Id, isCritic = false })"><h5>Побачити всі відгуки користувачів >></h5></a>
                    }

                </div>
            </div>
        </div>
    </div>
}