@using CriticWeb.Models.ContentCriticViewModels
@model CriticWeb.Models.ContentCriticViewModels.EntertainmentReviewsViewModel
@{
    ViewBag.Title = "Усі відгуки " + (Model.IsCritic ? "критиків про " : "користувачів про ") + Model.EntertainmentViewModel;
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('div[id^=page-]').hide();
            $('div[id=page-1]').show();
        });
        $('.' + '@Model.PaginationCriticId').bootpag({
            total: @(Model.AllEntertainmentCriticReviews != null && Math.Ceiling((double)Model.AllEntertainmentCriticReviews.Length / 10) != 1 ? Math.Ceiling((double)Model.AllEntertainmentCriticReviews.Length / 10) : 0),
            page: 1,
            maxVisible: 10
        }).on('page', function (event, num) {
            $('div[id^=page-]').hide();
            $('div[id=page-' + num + ']').show();
        });

        $(document).ready(function () {
            $('div[id^=page-]').hide();
            $('div[id=page-1]').show();
        });
        $('.' + '@Model.PaginationUserId').bootpag({
            total: @(Model.AllEntertainmentUserReviews != null && Math.Ceiling((double)Model.AllEntertainmentUserReviews.Length / 10) != 1 ? Math.Ceiling((double)Model.AllEntertainmentUserReviews.Length / 10) : 0),
        page: 1,
        maxVisible: 10
        }).on('page', function (event, num) {
            $('div[id^=page-]').hide();
            $('div[id=page-' + num + ']').show();
        });
    </script>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h4>Усі відгуки про @Model.EntertainmentViewModel (@Model.EntertainmentViewModel.ReleaseDate.Year)</h4>
                </div>
                <div class="col-md-4">
                    <span class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="@(Model.IsCritic ? "active" : String.Empty)"><a data-toggle="pill" href="#critics">Критики</a></li>
                            <li class="@(Model.IsCritic ? String.Empty : "active")"><a data-toggle="pill" href="#users">Користувачі</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="critics" class="tab-pane @(Model.IsCritic ? "fade in active" : String.Empty)">
                @Html.Partial("_AllReviewsPartialView", new AllReviewsViewModel(Model.AllEntertainmentCriticReviews, Model.PaginationCriticId))
            </div>
            <div id="users" class="tab-pane @(Model.IsCritic ? String.Empty : "fade in active")">
                @Html.Partial("_AllReviewsPartialView", new AllReviewsViewModel(Model.AllEntertainmentUserReviews, Model.PaginationUserId))
            </div>
        </div>
    </div>
</div>