@using CriticWeb.DataLayer
@model CriticWeb.Models.ContentCriticViewModels.EntertainmentDetailsViewModel

@{
    ViewBag.Title = Model.EntertainmentDetails;
}

<div class="panel panel-default">
    <div class="panel-heading text-left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h4>@Model.EntertainmentDetails</h4>
                </div>
                <div class="col-md-4">
                    <span class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#summary">Загальне</a></li>
                            <li><a data-toggle="pill" href="#details">Деталі</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">

            <div id="summary" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.EntertainmentDetails.Poster))" />
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-8"><h4>Середня оцінка критиків:</h4></div>
                                                <div class="col-md-4">
                                                    @if (Model.AvarageCriticPoint != null)
                                                    {
                                                        if (Model.AvarageCriticPoint <= 35)
                                                        {
                                                            <h2 class="point-entertainment-red">@Model.AvarageCriticPoint</h2>
                                                        }
                                                        if (Model.AvarageCriticPoint > 35 && Model.AvarageCriticPoint < 70)
                                                        {
                                                            <h2 class="point-entertainment-yellow">@Model.AvarageCriticPoint</h2>
                                                        }
                                                        if (Model.AvarageCriticPoint >= 70)
                                                        {
                                                            <h2 class="point-entertainment-green">@Model.AvarageCriticPoint</h2>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <h2>N/A</h2>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-8"><h4>Середня оцінка користувачів:</h4></div>
                                                <div class="col-md-4">
                                                    @if (Model.AvarageUserPoint != null)
                                                    {
                                                        if (Model.AvarageUserPoint <= 35)
                                                        {
                                                            <h2 class="point-entertainment-red">@Model.AvarageUserPoint</h2>
                                                        }
                                                        if (Model.AvarageUserPoint > 35 && Model.AvarageUserPoint < 70)
                                                        {
                                                            <h2 class="point-entertainment-yellow">@Model.AvarageUserPoint</h2>
                                                        }
                                                        if (Model.AvarageUserPoint >= 70)
                                                        {
                                                            <h2 class="point-entertainment-green">@Model.AvarageUserPoint</h2>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <h2>N/A</h2>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-star-empty" />
                                    </div>
                                </div>
                            </div>
                            <p><b>Короткий опис:</b> @Model.EntertainmentDetails.Summary</p>
                            @if (Model.AwardsString != null && Model.AwardsString != String.Empty)
                            {
                                <p><b>Нагороди:</b> @Model.AwardsString</p>
                            }
                            @if (Model.EntertainmentDetails.BuyLink != null && Model.EntertainmentDetails.BuyLink != String.Empty)
                            {
                                <a href='@Model.EntertainmentDetails.BuyLink' target="_blank"><img src="http://www.niftybuttons.com/amazon/amazon-button2.png" alt="Amazon Button"></a>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div id="details" class="tab-pane">
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4 text-center">
                            <img class="poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.EntertainmentDetails.Poster))" />
                        </div>
                        <div class="col-md-8 text-cente">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td><b>Контент:</b></td>
                                        <td>@Model.EntertainmentDetails.EntertainmentTypeUkr</td>
                                    </tr>
                                    @if (Model.SingersAndBands != null && Model.SingersAndBands != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Виконавці:</b></td>
                                            <td>@Model.SingersAndBands</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Назва:</b></td>
                                        <td>@Model.EntertainmentDetails.Name</td>
                                    </tr>
                                    @if (Model.EntertainmentDetails.TVSeason != null)
                                    {
                                        <tr>
                                            <td><b>Сезон:</b></td>
                                            <td>@Model.EntertainmentDetails.TVSeason</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Дата релізу:</b></td>
                                        <td>@Model.EntertainmentDetails.ReleaseDate.ToShortDateString()</td>
                                    </tr>
                                    @if (Model.Genres != null && Model.Genres != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Жанри:</b></td>
                                            <td>@Model.Genres</td>
                                        </tr>
                                    }
                                    @if (Model.MovieProductions != null && Model.MovieProductions != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Продюсерські компанії:</b></td>
                                            <td>@Model.MovieProductions</td>
                                        </tr>
                                    }
                                    @if (Model.GameDeveloperCompanys != null && Model.GameDeveloperCompanys != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Розробники:</b></td>
                                            <td>@Model.GameDeveloperCompanys</td>
                                        </tr>
                                    }
                                    @if (Model.GamePlatforms != null && Model.GamePlatforms != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Платформи:</b></td>
                                            <td>@Model.GamePlatforms</td>
                                        </tr>
                                    }
                                    @if (Model.TVNetwork != null && Model.TVNetwork != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Телевізійні канали:</b></td>
                                            <td>@Model.TVNetwork</td>
                                        </tr>
                                    }
                                    @if (Model.AlbumRecordLabel != null && Model.AlbumRecordLabel != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Лейбли:</b></td>
                                            <td>@Model.AlbumRecordLabel</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Правовласник:</b></td>
                                        <td>@Model.EntertainmentDetails.Company</td>
                                    </tr>
                                    <tr>
                                        <td><b>Основна мова:</b></td>
                                        <td>@Model.EntertainmentDetails.MainLanguage</td>
                                    </tr>
                                    @if (Model.EntertainmentDetails.Rating != null && Model.EntertainmentDetails.Rating != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Вікове обмеження:</b></td>
                                            <td>@Model.EntertainmentDetails.Rating</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.RatingComment != null && Model.EntertainmentDetails.RatingComment != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Коментар до вікового обмеження:</b></td>
                                            <td>@Model.EntertainmentDetails.RatingComment</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.MovieRuntimeMinute != null)
                                    {
                                        <tr>
                                            <td><b>Тривалість (хв):</b></td>
                                            <td>@Model.EntertainmentDetails.MovieRuntimeMinute</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.OfficialSite != null && Model.EntertainmentDetails.OfficialSite != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Офіційний сайт:</b></td>
                                            <td><a href='@Model.EntertainmentDetails.OfficialSite' target="_blank">@Model.EntertainmentDetails.OfficialSite</a></td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.MovieCountries != null && Model.EntertainmentDetails.MovieCountries != String.Empty)
                                    {
                                        <tr>
                                            <td><b>Країни:</b></td>
                                            <td>@Model.EntertainmentDetails.MovieCountries</td>
                                        </tr>
                                    }
                                    @if (Model.EntertainmentDetails.Budget != null)
                                    {
                                        int budget = (int)Model.EntertainmentDetails.Budget;
                                        <tr>
                                            <td><b>Бюджет ($):</b></td>
                                            <td>@budget</td>
                                        </tr>
                                    }                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>              
            </div>

        </div>
    </div>
</div>

@if (Model.TrailerLinkForFrame != null && Model.TrailerLinkForFrame != String.Empty)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Трейлер</h4></div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <iframe width="670" height="400" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                                src="@Model.TrailerLinkForFrame"></iframe>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Songs != null)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Пісні</h4></div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Тривалість</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model.Songs)
                    {
                        <tr>
                            <td>@song.Name</td>
                            <td>@song.Duration</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.MovieDirectors != null || Model.MoviePlotWriters != null || Model.MoviePrincipalCasts != null || Model.MovieCast != null || Model.MovieProducers != null || Model.GameCasts != null || Model.TVCasts != null || Model.AlbumSingers != null || Model.AlbumBands != null)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Учасники</h4></div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    @if (Model.MovieDirectors != null)
                    {
                        <tr>
                            <td><b>Режисери</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.MovieDirectors)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                    @if (avgPoint != null)
                                    {
                                        if (avgPoint <= 35)
                                        {
                                            <td class="point-actor-red">@avgPoint</td>
                                        }
                                        if (avgPoint > 35 && avgPoint < 70)
                                        {
                                            <td class="point-actor-yellow">@avgPoint</td>
                                        }
                                        if (avgPoint >= 70)
                                        {
                                            <td class="point-actor-green">@avgPoint</td>
                                        }
                                    }
                            </tr>
                        }
                    }
                    @if (Model.MoviePlotWriters != null)
                    {
                        <tr>
                            <td><b>Автори сценарію</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.MoviePlotWriters)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                    @if (Model.MoviePrincipalCasts != null)
                    {
                        <tr>
                            <td><b>Головні герої</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.MoviePrincipalCasts)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                    @if (Model.MovieCast != null)
                    {
                        <tr>
                            <td><b>Актори</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.MovieCast)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                    @if (Model.MovieProducers != null)
                    {
                        <tr>
                            <td><b>Продюсери</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.MovieProducers)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                    @if (Model.GameCasts != null)
                    {
                        <tr>
                            <td><b>Актори</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.GameCasts)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                    @if (Model.TVCasts != null)
                    {
                        <tr>
                            <td><b>Актори</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.TVCasts)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                    @if (Model.AlbumSingers != null)
                    {
                        <tr>
                            <td><b>Співаки</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.AlbumSingers)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                    @if (Model.AlbumBands != null)
                    {
                        <tr>
                            <td><b>Групи</b></td>
                            <td><b>Оцінка критиків</b></td>
                        </tr>
                        foreach (var performer in Model.AlbumBands)
                        {
                            int? avgPoint = Entertainment.AverageCriticPointForEntertainments(Entertainment.GetEntertainmentByPerformer(performer.PerformerDL));
                            <tr>
                                <td><a href='@Url.Action("PerformerDetails", "Home", new { id = performer.PerformerDL.Id })'>@performer</a></td>
                                @if (avgPoint != null)
                                {
                                    if (avgPoint <= 35)
                                    {
                                        <td class="point-actor-red">@avgPoint</td>
                                    }
                                    if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td class="point-actor-yellow">@avgPoint</td>
                                    }
                                    if (avgPoint >= 70)
                                    {
                                        <td class="point-actor-green">@avgPoint</td>
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Відгуки критиків</h4></div>
            <div class="panel-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Позитивних:</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="point-actor-green">@Model.PositiveCriticReviewCount</h4>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Нейтральних:</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="point-actor-yellow">@Model.NeutralCriticReviewCount</h4>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Негативних:</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="point-actor-red">@Model.NegativeCriticReviewCount</h4>
                        </div>
                    </div>
                </div>

                <hr />
                
                @if (Model.CriticReviews.Length != 0)
                {
                    foreach (var review in Model.CriticReviews)
                    {
                        @Html.Partial("_ReviewPartialView", review);
                    }
                    <a href="#"><h5>Побачити всі відгуки критиків >></h5></a>
                }                              

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Відгуки користувачів</h4></div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Позитивних:</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="point-actor-green">@Model.PositiveUserReviewCount</h4>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Нейтральних:</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="point-actor-yellow">@Model.NeutralUserReviewCount</h4>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Негативних:</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="point-actor-red">@Model.NegativeUserReviewCount</h4>
                        </div>
                    </div>
                </div>

                <hr />

                @if (Model.UserReviews.Length != 0)
                {
                    foreach (var review in Model.UserReviews)
                    {
                        @Html.Partial("_ReviewPartialView", review);
                    }
                    <a href="#"><h5>Побачити всі відгуки користувачів >></h5></a>
                }                

            </div>
        </div>
    </div>
</div>