@model CriticWeb.Models.ContentCriticViewModels.MainPageViewModel
@using CriticWeb.Models.Data
@using CriticWeb.Models.ContentCriticViewModels
@using CriticWeb.DataLayer
@{
    ViewBag.Title = "MaxCritic - Home";
}
<div class="panel panel-default">
    <div class="panel-heading text-left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>Новинки</h4>
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#movies">Фільми</a></li>
                            <li><a data-toggle="pill" href="#games">Ігри</a></li>
                            <li><a data-toggle="pill" href="#tvseries">Серіали</a></li>
                            <li><a data-toggle="pill" href="#music">Музика</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="movies" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.LastBestMovies != null)
                        {
                            foreach (EntertainmentVM entertainment in Model.LastBestMovies)
                            {
                                <div class="col-md-3 text-center">
                                    @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div id="games" class="tab-pane">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.LastBestGames != null)
                        {
                            foreach (EntertainmentVM entertainment in Model.LastBestGames)
                            {
                                <div class="col-md-3 text-center">
                                    @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                                </div>
                            }
                        }                 
                    </div>
                </div>
            </div>
            <div id="tvseries" class="tab-pane">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.LastBestTVSeries != null)
                        {
                            foreach (EntertainmentVM entertainment in Model.LastBestTVSeries)
                            {
                                <div class="col-md-3 text-center">
                                    @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div id="music" class="tab-pane">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.LastBestAlbums != null)
                        {
                            foreach (EntertainmentVM entertainment in Model.LastBestAlbums)
                            {
                                <div class="col-md-3 text-center">
                                    @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>Виконавці</h4>
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#actors">Актори</a></li>
                            <li><a data-toggle="pill" href="#singers">Співаки</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="actors" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.LastTwoActors != null)
                        {
                            foreach (var actor in Model.LastTwoActors)
                            {
                                <div class="col-md-6 text-center">
                                    @Html.Partial("_PerformerMiniPartialView", new PerformerMiniViewModel(actor, PerformerInEntertainment.Role.MovieCast))
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div id="singers" class="tab-pane">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.LastTwoActors != null)
                        {
                            foreach (var actor in Model.LastTwoSingers)
                            {
                                <div class="col-md-6 text-center">
                                    @Html.Partial("_PerformerMiniPartialView", new PerformerMiniViewModel(actor, PerformerInEntertainment.Role.AlbumSinger))
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Останні фільми</h4></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        @if (Model.LastMovies != null)
                        {
                            foreach (var movie in Model.LastMovies)
                            {
                                <tr>
                                    <td><h4><a href='@Url.Action("EntertainmentDetails", "Home", new { id = movie.EntertainmentDL.Id })'>@movie</a></h4></td>
                                    @{ int? avgPoint = movie.EntertainmentDL.AverageCriticPointForOneEntertainment(); }
                                    @if (avgPoint <= 35)
                                    {
                                        <td><h4 class="point-entertainment-red">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td><h4 class="point-entertainment-yellow">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint >= 70)
                                    {
                                        <td><h4 class="point-entertainment-green">@avgPoint</h4></td>
                                    }
                                </tr>
                            }
                        }                                               
                    </tbody>
                </table>
                <a href="@Url.Action("EntertainmentAndPerformerSearch", "Home", new { type = Entertainment.Type.Movie })"><h5>Показати всі нові фільми >></h5></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Останні ігри</h4></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        @if (Model.LastGames != null)
                        {
                            foreach (var game in Model.LastGames)
                            {
                                <tr>
                                    <td><h4><a href='@Url.Action("EntertainmentDetails", "Home", new { id = game.EntertainmentDL.Id })'>@game</a></h4></td>
                                    @{ int? avgPoint = game.EntertainmentDL.AverageCriticPointForOneEntertainment(); }
                                    @if (avgPoint <= 35)
                                    {
                                        <td><h4 class="point-entertainment-red">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td><h4 class="point-entertainment-yellow">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint >= 70)
                                    {
                                        <td><h4 class="point-entertainment-green">@avgPoint</h4></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("EntertainmentAndPerformerSearch", "Home", new { type = Entertainment.Type.Game })"><h5>Показати всі нові ігри >></h5></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Останні серіали</h4></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        @if (Model.LastTVSeries != null)
                        {
                            foreach (var tVSeries in Model.LastTVSeries)
                            {
                                <tr>
                                    <td><h4><a href='@Url.Action("EntertainmentDetails", "Home", new { id = tVSeries.EntertainmentDL.Id })'>@tVSeries</a></h4></td>
                                    @{ int? avgPoint = tVSeries.EntertainmentDL.AverageCriticPointForOneEntertainment(); }
                                    @if (avgPoint <= 35)
                                    {
                                        <td><h4 class="point-entertainment-red">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td><h4 class="point-entertainment-yellow">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint >= 70)
                                    {
                                        <td><h4 class="point-entertainment-green">@avgPoint</h4></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("EntertainmentAndPerformerSearch", "Home", new { type = Entertainment.Type.TVSeries })"><h5>Показати всі нові серіали >></h5></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Останні альбоми</h4></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        @if (Model.LastAlbums != null)
                        {
                            foreach (var album in Model.LastAlbums)
                            {
                                <tr>
                                    <td><h4><a href='@Url.Action("EntertainmentDetails", "Home", new { id = album.EntertainmentDL.Id })'>@album</a></h4></td>
                                    @{ int? avgPoint = album.EntertainmentDL.AverageCriticPointForOneEntertainment(); }
                                    @if (avgPoint <= 35)
                                    {
                                        <td><h4 class="point-entertainment-red">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint > 35 && avgPoint < 70)
                                    {
                                        <td><h4 class="point-entertainment-yellow">@avgPoint</h4></td>
                                    }
                                    @if (avgPoint >= 70)
                                    {
                                        <td><h4 class="point-entertainment-green">@avgPoint</h4></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("EntertainmentAndPerformerSearch", "Home", new { type = Entertainment.Type.Album })"><h5>Показати всі нові альбоми >></h5></a>
            </div>
        </div>
    </div>
</div>