@model CriticWeb.Models.ContentCriticViewModels.MainPageViewModel
@using CriticWeb.Models.Data
@{
    ViewBag.Title = "MaxCritic - Home";
}

<div class="panel panel-default">
    <div class="panel-heading text-left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>Новинки</h4>
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#movies">Фільми</a></li>
                            <li><a data-toggle="pill" href="#games">Ігри</a></li>
                            <li><a data-toggle="pill" href="#tvseries">Серіали</a></li>
                            <li><a data-toggle="pill" href="#music">Музика</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="movies" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="row">
                        @*@foreach (EntertainmentVM entertainment in Model.LastBestMovies)
                        {
                            <div class="col-md-3 text-center">
                                @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                            </div>
                        }*@
                    </div>
                </div>
            </div>
            <div id="games" class="tab-pane">
                <div class="container-fluid">
                    <div class="row">
                        @*@foreach (EntertainmentVM entertainment in Model.LastBestGames)
                        {
                            <div class="col-md-3 text-center">
                                @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                            </div>
                        }*@                       
                    </div>
                </div>
            </div>
            <div id="tvseries" class="tab-pane">
                <div class="container-fluid">
                    <div class="row">
                        @*@foreach (EntertainmentVM entertainment in Model.LastBestTVSeries)
                        {
                            <div class="col-md-3 text-center">
                                @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                            </div>
                        }*@
                    </div>
                </div>
            </div>
            <div id="music" class="tab-pane">
                <div class="container-fluid">
                    <div class="row">
                        @*@foreach (EntertainmentVM entertainment in Model.LastBestAlbums)
                        {
                            <div class="col-md-3 text-center">
                                @Html.Partial("_EntertainmentMiniPartialView", entertainment)
                            </div>
                        }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>Виконавці</h4>
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#actors">Актори</a></li>
                            <li><a data-toggle="pill" href="#singers">Співаки</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="actors" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="row">
                        @*@foreach (var actor in Model.LastTwoActors)
                        {
                            <div class="col-md-6 text-center">
                                @Html.Partial("_ActorMiniPartialView", actor)
                            </div>
                        }*@
                    </div>
                </div>
            </div>
            <div id="singers" class="tab-pane">
                <h3>...</h3>
            </div>
        </div>
    </div>
</div>