@using CriticWeb.DataLayer
@model CriticWeb.Models.ContentCriticViewModels.PerformerDetailsViewModel
@{
    ViewBag.Title = Model.PerformerViewModel;
}

<div class="panel panel-default">
    <div class="panel-heading"><h4>@Model.PerformerViewModel</h4></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 text-center">
                    @if (Model.PerformerViewModel.Image != null)
                    {
                        <img class="poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.PerformerViewModel.Image))" />
                    }
                    else
                    {
                        <img class="poster" src="http://www.russianrobotics.ru/img/no-foto-small.jpg" />
                    }
                </div>
                <div class="col-md-8 text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-8"><h4>Середня оцінка критиків:</h4></div>
                                        <div class="col-md-4">
                                            @if (Model.AvarageCriticPoint != null)
                                            {
                                                if (Model.AvarageCriticPoint <= 35)
                                                {
                                                    <h2 class="point-entertainment-red">@Model.AvarageCriticPoint</h2>
                                                }
                                                if (Model.AvarageCriticPoint > 35 && Model.AvarageCriticPoint < 70)
                                                {
                                                    <h2 class="point-entertainment-yellow">@Model.AvarageCriticPoint</h2>
                                                }
                                                if (Model.AvarageCriticPoint >= 70)
                                                {
                                                    <h2 class="point-entertainment-green">@Model.AvarageCriticPoint</h2>
                                                }
                                            }
                                            else
                                            {
                                                <h2>N/A</h2>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-8"><h4>Середня оцінка користувачів:</h4></div>
                                        <div class="col-md-4">
                                            @if (Model.AvarageUserPoint != null)
                                            {
                                                if (Model.AvarageUserPoint <= 35)
                                                {
                                                    <h2 class="point-entertainment-red">@Model.AvarageUserPoint</h2>
                                                }
                                                if (Model.AvarageUserPoint > 35 && Model.AvarageUserPoint < 70)
                                                {
                                                    <h2 class="point-entertainment-yellow">@Model.AvarageUserPoint</h2>
                                                }
                                                if (Model.AvarageUserPoint >= 70)
                                                {
                                                    <h2 class="point-entertainment-green">@Model.AvarageUserPoint</h2>
                                                }
                                            }
                                            else
                                            {
                                                <h2>N/A</h2>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.PerformerViewModel.DateOfBirth != null)
                    {
                        DateTime dateOfBierth = (DateTime)Model.PerformerViewModel.DateOfBirth;
                        <p>@if (Model.PerformerViewModel.PerformerType == Performer.Type.Person)
                        {<b>Дата народження:</b>}
                        else
                        {<b>Дата заснування:</b>} @dateOfBierth.ToShortDateString()</p>
                    }
                    <p>@Model.PerformerViewModel.Summary</p>
                    @if (Model.AvardsString != null && Model.AvardsString != String.Empty)
                    {
                        <p><b>Нагороди:</b> @Model.AvardsString</p>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@if (Model.EntertainmentVMs != null)
{
    <div class="panel panel-default">
        <div class="panel-heading text-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Контент виконавця</h4>
                    </div>
                    <div class="col-md-6">
                        <span class="pull-right">
                            <ul class="nav nav-pills">
                                @if (Model.Movies.Length != 0)
                                {
                                    <li class="active"><a data-toggle="pill" href="#movies">Фільми</a></li>
                                }
                                @if (Model.Games.Length != 0)
                                {
                                    <li><a data-toggle="pill" href="#games">Ігри</a></li>
                                }
                                @if (Model.TVSeries.Length != 0)
                                {
                                    <li><a data-toggle="pill" href="#tvseries">Серіали</a></li>
                                }
                                @if (Model.Albums.Length != 0)
                                {
                                    <li><a data-toggle="pill" href="#music">Музика</a></li>
                                }                                
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                @if (Model.Movies.Length != 0)
                {
                    <div id="movies" class="tab-pane fade in active">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#date">За датою</a></li>
                            <li><a data-toggle="tab" href="#criticPoint">За оцінками критиків</a></li>
                            <li><a data-toggle="tab" href="#userPoint">За оцінками користувачів</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="date" class="tab-pane fade in active">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Постер</th>
                                            <th>Назва</th>
                                            <th>Дата релізу</th>
                                            <th>Оцінка критиків</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var entertainment in Model.MoviesByDate)
                                        {
                                            int? avgPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                            <tr>
                                                <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                @if (avgPoint <= 35)
                                                {
                                                    <td><h4 class="point-table-red"><b>@avgPoint</b></h4></td>
                                                }
                                                @if (avgPoint > 35 && avgPoint < 70)
                                                {
                                                    <td><h4 class="point-table-yellow"><b>@avgPoint</b></h4></td>
                                                }
                                                @if (avgPoint >= 70)
                                                {
                                                    <td><h4 class="point-table-green"><b>@avgPoint</b></h4></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div id="criticPoint" class="tab-pane fade">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Постер</th>
                                            <th>Назва</th>
                                            <th>Дата релізу</th>
                                            <th>Оцінка критиків</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var entertainment in Model.MoviesByCriticPoint)
                                        {
                                            int? avgPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                            <tr>
                                                <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                @if (avgPoint == null)
                                                {
                                                    <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                }
                                                @if (avgPoint <= 35)
                                                {
                                                    <td><h4 class="point-table-red"><b>@avgPoint</b></h4></td>
                                                }
                                                @if (avgPoint > 35 && avgPoint < 70)
                                                {
                                                    <td><h4 class="point-table-yellow"><b>@avgPoint</b></h4></td>
                                                }
                                                @if (avgPoint >= 70)
                                                {
                                                    <td><h4 class="point-table-green"><b>@avgPoint</b></h4></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div id="userPoint" class="tab-pane fade">

                            </div>
                        </div>                        
                    </div>
                }
                @if (Model.Games.Length != 0)
                {
                    <div id="games" class="tab-pane">

                    </div>
                }
                @if (Model.TVSeries.Length != 0)
                {
                    <div id="tvseries" class="tab-pane">

                    </div>
                }
                @if (Model.Albums.Length != 0)
                {
                    <div id="music" class="tab-pane">

                    </div>
                }
            </div>
        </div>
    </div>
}