@using CriticWeb.Models.Data
@using CriticWeb.DataLayer
@model CriticWeb.Models.ContentCriticViewModels.PerformerDetailsViewModel
@{
    ViewBag.Title = Model.PerformerViewModel;
}

@section scripts {
<script>
    $('.round-award').each(function (index, value) {
        var tooltipHTMLCode = $(this).next().clone();
        tooltipHTMLCode.show();
        $(this).tooltipster(
        {
            content: tooltipHTMLCode
        });
    });
</script>
}

<div class="panel panel-default">
    <div class="panel-heading"><h4>@Model.PerformerViewModel</h4></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 text-center">
                    @if (Model.PerformerViewModel.Image != null)
                    {
                        <img class="poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.PerformerViewModel.Image))" />
                    }
                    else
                    {
                        <img class="poster" src="http://www.russianrobotics.ru/img/no-foto-small.jpg" />
                    }
                </div>
                <div class="col-md-8 text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-8"><h4>Середня оцінка критиків:</h4></div>
                                        <div class="col-md-4">
                                            @if (Model.AvarageCriticPoint != null)
                                            {
                                                if (Model.AvarageCriticPoint <= 35)
                                                {
                                                    <h2 class="point-entertainment-red">@Model.AvarageCriticPoint</h2>
                                                }
                                                if (Model.AvarageCriticPoint > 35 && Model.AvarageCriticPoint < 70)
                                                {
                                                    <h2 class="point-entertainment-yellow">@Model.AvarageCriticPoint</h2>
                                                }
                                                if (Model.AvarageCriticPoint >= 70)
                                                {
                                                    <h2 class="point-entertainment-green">@Model.AvarageCriticPoint</h2>
                                                }
                                            }
                                            else
                                            {
                                                <h2>N/A</h2>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-8"><h4>Середня оцінка користувачів:</h4></div>
                                        <div class="col-md-4">
                                            @if (Model.AvarageUserPoint != null)
                                            {
                                                if (Model.AvarageUserPoint <= 35)
                                                {
                                                    <h2 class="point-entertainment-red">@Model.AvarageUserPoint</h2>
                                                }
                                                if (Model.AvarageUserPoint > 35 && Model.AvarageUserPoint < 70)
                                                {
                                                    <h2 class="point-entertainment-yellow">@Model.AvarageUserPoint</h2>
                                                }
                                                if (Model.AvarageUserPoint >= 70)
                                                {
                                                    <h2 class="point-entertainment-green">@Model.AvarageUserPoint</h2>
                                                }
                                            }
                                            else
                                            {
                                                <h2>N/A</h2>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.PerformerViewModel.DateOfBirth != null)
                    {
                        DateTime dateOfBierth = (DateTime)Model.PerformerViewModel.DateOfBirth;
                        <p>@switch(Model.PerformerViewModel.PerformerType)
                        {
                            case Performer.Type.Person:
                                <b>Дата народження:</b>
                                break;
                            case Performer.Type.GamePlatform:
                                <b>Дата релізу:</b>
                                break;
                            default:
                                <b>Дата заснування:</b>
                                break;
                        }
                        @dateOfBierth.ToShortDateString()</p>
                    }
                    <p>@Model.PerformerViewModel.Summary</p>
                    @if (Model.Awards != null)
                    {
                        <p>
                            <b>Нагороди:</b>
                            @foreach (var award in Model.Awards)
                            {
                                <span class="img-with-tooltip">
                                    @if (award.Image != null)
                                    {
                                        <img class="round-award" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(award.Image))" />
                                    }
                                    else
                                    {
                                        <img class="round-award" src="http://s018.radikal.ru/i510/1304/68/75348d62601b.png" />
                                    }
                                    <span class="tooltipHTML">
                                        <span class="row text-center">
                                            <span class="col-md-4">
                                                <img class="tooltip-img" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(award.Image))" />
                                            </span>
                                            <span class="col-md-8">
                                                <b>@award.Name</b><br />
                                                <b>@award.Date.ToShortDateString()</b><br />
                                                <b>@award.Nomination</b><br />
                                                @if (award.PerformerId != null)
                                                {
                                                    <b>Виконавець: </b>@(new PerformerVM(Performer.GetById((Guid)award.PerformerId)))<br />
                                                }
                                                @if (award.EntertainmentId != null)
                                                {
                                                    <b>Контент: </b>@(new EntertainmentVM(Entertainment.GetById((Guid)award.EntertainmentId)))
                                                }
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            }
                        </p>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@if (Model.EntertainmentVMs != null)
{
    <div class="panel panel-default">
        <div class="panel-heading text-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Контент виконавця</h4>
                    </div>
                    <div class="col-md-6">
                        <span class="pull-right">
                            <ul class="nav nav-pills">                              
                                <li class="active"><a data-toggle="pill" href="#movies">Фільми</a></li>
                                <li><a data-toggle="pill" href="#games">Ігри</a></li>
                                <li><a data-toggle="pill" href="#tvseries">Серіали</a></li>
                                <li><a data-toggle="pill" href="#music">Музика</a></li>                                                                       
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                
                    <div id="movies" class="tab-pane fade in active">
                        @if (Model.Movies.Length != 0)
                        {
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#date">За датою</a></li>
                                <li><a data-toggle="tab" href="#criticPoint">За оцінками критиків</a></li>
                                <li><a data-toggle="tab" href="#userPoint">За оцінками користувачів</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="date" class="tab-pane fade in active">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.MoviesByDate)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="criticPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.MoviesByCriticPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="userPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.MoviesByUserPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                                <h4 class="text-center">У виконавця відсутні фільми.</h4>
                        }
                    </div>                
                
                    <div id="games" class="tab-pane">
                        @if (Model.Games.Length != 0)
                        {
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#date">За датою</a></li>
                                <li><a data-toggle="tab" href="#criticPoint">За оцінками критиків</a></li>
                                <li><a data-toggle="tab" href="#userPoint">За оцінками користувачів</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="date" class="tab-pane fade in active">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.GamesByDate)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="criticPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.GamesByCriticPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="userPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.GamesByUserPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h4 class="text-center">У виконавця відсутні ігри.</h4>
                        }
                    </div>                
                
                    <div id="tvseries" class="tab-pane">
                        @if (Model.TVSeries.Length != 0)
                        {
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#date">За датою</a></li>
                                <li><a data-toggle="tab" href="#criticPoint">За оцінками критиків</a></li>
                                <li><a data-toggle="tab" href="#userPoint">За оцінками користувачів</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="date" class="tab-pane fade in active">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.TVSeriesByDate)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="criticPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.TVSeriesByCriticPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="userPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.TVSeriesByUserPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h4 class="text-center">У виконавця відсутні серіали.</h4>
                        }
                    </div>
                         
                    <div id="music" class="tab-pane">
                        @if (Model.Albums.Length != 0)
                        {
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#date">За датою</a></li>
                                <li><a data-toggle="tab" href="#criticPoint">За оцінками критиків</a></li>
                                <li><a data-toggle="tab" href="#userPoint">За оцінками користувачів</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="date" class="tab-pane fade in active">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.AlbumsByDate)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="criticPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.AlbumsByCriticPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="userPoint" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Постер</th>
                                                <th>Назва</th>
                                                <th>Дата релізу</th>
                                                <th>Оцінка критиків</th>
                                                <th>Оцінка користувачів</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var entertainment in Model.AlbumsByUserPoint)
                                            {
                                                int? avgCriticPoint = entertainment.EntertainmentDL.AverageCriticPointForOneEntertainment();
                                                int? avgUserPoint = entertainment.EntertainmentDL.AverageUserPointForOneEntertainment();
                                                <tr>
                                                    <td><img class="table-poster" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(entertainment.Poster))" /></td>
                                                    <td><a href='@Url.Action("EntertainmentDetails", "Home", new { id = entertainment.EntertainmentDL.Id })'><h4><b>@entertainment</b></h4></a></td>
                                                    <td><h4><b>@entertainment.ReleaseDate.ToShortDateString()</b></h4></td>
                                                    @if (avgCriticPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint > 35 && avgCriticPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgCriticPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgCriticPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint == null)
                                                    {
                                                        <td><h4 class="point-table-not-available"><b>N/A</b></h4></td>
                                                    }
                                                    @if (avgUserPoint <= 35)
                                                    {
                                                        <td><h4 class="point-table-red"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint > 35 && avgUserPoint < 70)
                                                    {
                                                        <td><h4 class="point-table-yellow"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                    @if (avgUserPoint >= 70)
                                                    {
                                                        <td><h4 class="point-table-green"><b>@avgUserPoint</b></h4></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h4 class="text-center">У виконавця відсутня музика.</h4>
                        }
                    </div>                
            </div>
        </div>
    </div>
}